<%- include('partials/header') %>
    <div id="header">
        <div id="topbar">
            <img id="searchbarimage" src="/img/logo.svg" />
            <div id="searchbar" type="text">
                <div class="form">
                    <form action="/search" method="GET">
                        <label for="form-search"></label>
                        <input type="text" id="form-search" class="shadow-sm" placeholder="Search Google or type URL" name="search" value="<%= query %>">
                        <button id="searchbarbutton" class="btn"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- <input id="searchbartext" type="text" class="shadow-sm" value="computer engineering mutex concept" name="search" /> -->


            </div>

            <ul id="nav_bar">
                <li class="nav-links" id="gmail"><a href="#"><i class="fas fa-cog"></i></a></li>
                <li id="sign_in"><a href="#">Sign In</a></li>
            </ul>
        </div>

        <div id="optionsbar">
            <ul id="optionsmenu1">
                <li id="optionsmenuactive"><i class="fas fa-search"></i> All</li>
                <li><i class="far fa-newspaper"></i> News</li>
                <li><i class="far fa-play-circle"></i> Videos</li>
                <li><i class="far fa-image"></i> Images</li>
                <li><i class="fas fa-map-marker-alt"></i> Maps</li>
                <li><i class="fas fa-ellipsis-v"></i> More</li>
            </ul>

            <ul id="optionsmenu2">
                <li>Tools</li>
            </ul>
        </div>
    </div>
    <div id="searchresultsarea">
        <p id="searchresultsnumber">About
            <%= data["search_information"]["total_results"] %> results (
                <%= data["search_information"]["time_taken_displayed"] %> seconds)
        </p>

        <!-- Images  -->
        <% if(data["top_stories"]){ %>
            <h2 class="text-light">
                <i class="far fa-image"></i>
                <%= data["inline_images"][0]["title"] %>
            </h2>

            <div style="width: 540px;" class="card-group">
                <% data["inline_images"].forEach(function(data) { %>
                    <div style="width: 18rem;" class="card">
                        <a href="<%= data.link %>">  <img src="<%= data.image %>" class="card-img-top" alt="Red dot"></a>
                    </div>
                    <% }) %>
            </div>

            <% } %>




                <!-- results -->
                <% if(data["organic_results"]){ %>
                    <% data["organic_results"].forEach(function(data) { %>
                        <div class="searchresult">
                            <a class="text-light">
                                <%= data.displayed_link %>
                            </a> <button style="background-color: transparent; color: #fcfcfc;">▼</button>
                            <a href="<%= data.url %>">
                                <h2>
                                    <%= data.title %>
                                </h2>
                            </a>
                            <p class="text-light">
                                <%= data.snippet %>
                            </p>
                        </div>
                        <% }) %>
                            <% } %>

                                <!-- Videos  -->

                                <% if(data["inline_videos"]){ %>
                                    <h1> inline videos</h1>
                                    <% data["inline_videos"].forEach(function(data) { %>
                                        <div class="searchresult">
                                            <a class="text-light">
                                            </a> <button>▼</button>
                                            <a href="<%= data.link %>">
                                                <h2>
                                                    <%= data.title %>
                                                </h2>
                                            </a>
                                        </div>
                                        <% }) %>
                                            <% } %>




                                                <div id="carouselExampleControls" class="carousel slide col-lg-6" data-bs-ride="carousel">
                                                    <div class="carousel-inner">
                                                        <% if(data["top_stories"]){ %>
                                                            <h1> top stories</h1>
                                                            <div class="carousel-item active"></div>
                                                            <div class="card-group col-lg-6">
                                                                <% data["top_stories"].forEach(function(data) { %>
                                                                    <div class="card">
                                                                        <img src=" " class="card-img-top" alt="...">
                                                                        <p class="card-text"><small class="text-muted"><%= data.source %></small></p>
                                                                        <div class="card-body">
                                                                            <a href="<%= data.link %>">
                                                                                <h5 class="card-title">
                                                                                    <%= data.title %>
                                                                                </h5>
                                                                            </a>
                                                                            <p class="card-text"><small class="text-muted"><%= data.date %></small></p>
                                                                        </div>
                                                                    </div>
                                                                    <% }) %>
                                                            </div>
                                                    </div>
                                                    <% } %>
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                               <span class="visually-hidden">Previous</span>
                                                             </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                               <span class="visually-hidden">Next</span>
                                                             </button>
    </div>

    <!-- Top stories -->
    <% if(data["top_stories"]){ %>
        <h1> top stories</h1>
        <div class="card-group col-lg-6">
            <% data["top_stories"].forEach(function(data) { %>
                <div class="card">
                    <img src=" " class="card-img-top" alt="...">
                    <p class="card-text"><small class="text-muted"><%= data.source %></small></p>
                    <div class="card-body">
                        <a href="<%= data.link %>">
                            <h5 class="card-title">
                                <%= data.title %>
                            </h5>
                        </a>
                        <p class="card-text"><small class="text-muted"><%= data.date %></small></p>
                    </div>
                </div>
                <% }) %>
        </div>
        <% } %>






            <div class="relatedsearches">
                <h3>Searches related to computer engineering mutex concept</h3>
                <div class="relatedlists">
                    <ul class="relatedleft">
                        <li>what is <b>mutex</b> and semaphore</li>
                        <li><b>mutex</b> lock c++</li>
                        <li><b>mutex</b> java</li>
                        <li><b>mutex</b> c++</li>
                    </ul>
                    <ul class="relatedright">
                        <li><b>mutex</b> vs lock</li>
                        <li><b>mutex</b> semaphore example</li>
                        <li><b>mutex</b> and semaphore example in c</li>
                        <li><b>mutex</b> c#</li>
                    </ul>
                </div>
            </div>

            <div class="pagebar">
                <ul class="pagelist">
                    <li class="pagelistprevious">Previous</li>
                    <li class="pagelistfirst">1</li>
                    <li class="pagelistnumber">2</li>
                    <li class="pagelistnumber">3</li>
                    <li class="pagelistnumber">4</li>
                    <li class="pagelistnumber">5</li>
                    <li class="pagelistnumber">6</li>
                    <li class="pagelistnumber">7</li>
                    <li class="pagelistnumber">8</li>
                    <li class="pagelistnumber">9</li>
                    <li class="pagelistnumber">10</li>
                    <li class="pagelistnext">Next</li>
                </ul>
            </div>
            </div>

            <div id="footer">
                <div id="footerlocation">
                    <p>Somewhere, Moon </p>
                    <p> - From your phone (Location History) - Use precise location - Learn more</p>
                </div>

                <ul id="footermenu">
                    <li>Help</li>
                    <li>Send feedback</li>
                    <li>Privacy</li>
                    <li>Terms</li>
                </ul>
            </div>